@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	overflow-x: hidden;
}

.borderBottomAfter1::before {
	content: "";
	position: absolute;
	background: #fef3ba;
	border-radius: 25px;
	width: 100%;
	height: 0.5rem;
	bottom: -1.2rem;
}
.borderBottomAfter2::before {
	content: "";
	position: absolute;
	background: pink;
	border-radius: 25px;
	width: 100%;
	height: 0.5rem;
	bottom: -1.2rem;
}

.orangeBg {
	width: 100vw;
	height: 31rem;
	background-image: url("./assets/images/desktop/image-header.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.mainContentImg1 {
	background-image: url("./assets/images/desktop/image-transform.jpg");
}

.mainContentImg2 {
	background-image: url("./assets/images/desktop/image-stand-out.jpg");
	background-size: cover;
	background-position: top;
}

.mainContentImg1 {
	background-size: cover;
	background-position: center;
}

.mainContentImg1,
.mainContentImg2 {
	width: 100vw;
	height: 24rem;
}
.mainContentImg3,
.mainContentImg4 {
	position: relative;
	width: 100vw;
	height: 38rem;
	background-size: cover;
	background-position: top;
}
.mainContentImg3 {
	background-image: url("./assets/images/desktop/image-graphic-design.jpg");
}

.mainContentImg4 {
	background-image: url("./assets/images/desktop/image-photography.jpg");
}

.imagesSection1,
.imagesSection2,
.imagesSection4 {
	width: 50%;
	height: 50%;
	background-size: cover;
	background-position: bottom;
}
.imagesSection1 {
	background-image: url("./assets/images/desktop/image-gallery-milkbottles.jpg");
}
.imagesSection2 {
	background-image: url("./assets/images/desktop/image-gallery-orange.jpg");
}
.imagesSection3 {
	width: 50%;
	height: 50%;
	background-image: url("./assets/images/desktop/image-gallery-cone.jpg");
	background-size: cover;
	background-position: center;
}
.imagesSection4 {
	background-image: url("./assets/images/desktop/image-gallery-sugarcubes.jpg");
}

.testimonials {
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	.orangeBg {
		height: 40rem;
	}

	.mainContentImg1 {
		width: 50vw;
		background-position: top;
	}
	.mainContentImg2,
	.mainContentImg3,
	.mainContentImg4 {
		width: 50vw;
		background-position: top;
		background-size: cover;
	}

	.imagesSection1,
	.imagesSection2,
	.imagesSection3,
	.imagesSection4 {
		width: 25%;
		height: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.mainContentImg1 {
		width: 50vw;
		height: 32rem;
		background-position: top;
	}
	.mainContentImg2 {
		width: 50vw;
		height: 32rem;
		background-position: top;
	}
	.mainContentImg3 {
		background-position: center;
	}
	.mainContentImg4 {
		background-position: top;
	}
}
